[Unit]
Description=Your service (daemon-template)
Documentation=file:///usr/share/doc/daemon-template/README.md
After=network-online.target nss-lookup.target local-fs.target
Wants=network-online.target

[Service]
Type=simple
ExecStart=/usr/local/bin/daemon-template
EnvironmentFile=-/etc/default/daemon-template
Restart=always
RestartSec=5
TimeoutStopSec=30
KillSignal=SIGTERM

[Install]
WantedBy=multi-user.target
